In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("D:\\Hackathons\\Medical\\train_df64byy.csv")

In [3]:
## Renaming the column
data1=data.rename(columns={"Health Indicator":"Health_Indicator"})
data1.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health_Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [4]:
data1.City_Code.replace(('C1','C2','C3','C4','C5','C6','C7','C8','C9','C10',
                             'C11','C12','C13','C14','C15','C16','C17','C18','C19','C20',
                             'C21','C22','C23','C24','C25','C26','C27','C28','C29','C30',
                             'C31','C32','C33','C34','C35','C36'),(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,
                                                                  23,24,25,26,27,28,29,30,31,32,33,34,35),inplace=True)

In [5]:
data1.Accomodation_Type.replace(('Rented','Owned'),(0,1),inplace=True)

In [6]:
data1.Reco_Insurance_Type.replace(('Individual','Joint'),(0,1),inplace=True)

In [7]:
data1.Is_Spouse.replace(('Yes','No'),(0,1),inplace=True)

In [8]:
data1.Health_Indicator.replace(('X1','X2','X3','X4','X5','X6','X7','X8','X9'),(0,1,2,3,4,5,6,7,8),inplace=True)

In [9]:
data1.Holding_Policy_Duration.replace(('1.0','2.0','3.0','4.0','5.0','6.0','7.0','8.0','9.0','10.0','11.0','12.0','13.0',
                                           '14.0','14+'),(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14),inplace=True)

In [10]:
data1.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health_Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,2,3213,0,0,36,36,1,0.0,14.0,3.0,22,11628.0,0
1,2,4,1117,1,1,75,22,1,1.0,NaN,NaN,22,30510.0,0
2,3,4,3732,1,0,32,32,1,NaN,0.0,1.0,19,7450.0,1
3,4,23,4378,1,1,52,48,1,0.0,14.0,3.0,19,17780.0,0
4,5,7,2190,0,0,44,44,1,1.0,2.0,1.0,16,10404.0,0

In [11]:
## Dropping the columns which just indicating the index

data2=data1.drop(['ID'],axis=1)
data3=data2.drop(['Region_Code'],axis=1)

In [12]:
## Imputaion of NAN values by using sklearn.impute
from sklearn.impute import SimpleImputer
my_imputer=SimpleImputer()
data4=my_imputer.fit_transform(data3)

## Splitting data into dependent and independent variables of dataframe data4

y1=data4[:,11]
x1=data4[:,0:11]

In [14]:
data5=pd.DataFrame(data4)
data5.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,2.0,0.0,0.0,36.0,36.0,1.0,0.000000,14.000000,3.000000,22.0,11628.0,0.0
1,4.0,1.0,1.0,75.0,22.0,1.0,1.000000,5.156769,2.439228,22.0,30510.0,0.0
2,4.0,1.0,0.0,32.0,32.0,1.0,1.444694,0.000000,1.000000,19.0,7450.0,1.0
3,23.0,1.0,1.0,52.0,48.0,1.0,0.000000,14.000000,3.000000,19.0,17780.0,0.0
4,7.0,0.0,0.0,44.0,44.0,1.0,1.000000,2.000000,1.000000,16.0,10404.0,0.0

In [17]:
## Splitting data into dependent and independent variables of dataframe data3
xa=data5.iloc[:,0:11]
ya=data5.iloc[:,11]

In [19]:
# Bagged Decision Trees for Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [102]:
seed = 7

kfold = KFold(n_splits=8, random_state=None)
cart = DecisionTreeClassifier()
num_trees = 50
model1 = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=0)
               
model1.fit(xa,ya)
    
results = cross_val_score(model1, xa, ya, cv=kfold)
print(results.mean())

0.7375298163731623

In [103]:
from sklearn.metrics import confusion_matrix
pred1=model1.predict(xa)
confusion_matrix1=confusion_matrix(ya,pred1)
confusion_matrix1

array([[38672,     1],
       [   33, 12176]], dtype=int64)

In [21]:
# Random Forest Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [114]:
num_trees = 100
max_features = 3
kfold = KFold(n_splits=8, random_state=None)
model2 = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
model2.fit(xa,ya)
results = cross_val_score(model2, xa, ya, cv=kfold)
print(results.mean())

0.7498525062809039

In [113]:
pred2=model2.predict(xa)
confusion_matrix2=confusion_matrix(ya,pred2)
confusion_matrix2

array([[38670,     3],
       [   23, 12186]], dtype=int64)

In [25]:
# AdaBoost Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier

In [97]:
num_trees = 30
seed=7
kfold = KFold(n_splits=8, random_state=None)
model3 = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
model3.fit(xa,ya)
results = cross_val_score(model3, xa, ya, cv=kfold)
print(results.mean())

0.7600526010259057

In [98]:
pred3=model3.predict(xa)
confusion_matrix3=confusion_matrix(ya,pred3)
confusion_matrix3

array([[38673,     0],
       [12209,     0]], dtype=int64)

In [115]:
# Stacking Ensemble for Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [128]:
kfold = KFold(n_splits=8, random_state=None)

# create the sub models
estimators = []
model4 = LogisticRegression(max_iter=500)
estimators.append(('logistic', model4))
model5 = DecisionTreeClassifier()
estimators.append(('c5.0', model5))
model6 = SVC()
estimators.append(('svm', model6))

# create the ensemble model
ensemble = VotingClassifier(estimators)
results = cross_val_score(ensemble, xa, ya, cv=kfold)
print(results.mean())

0.7600526010259057

In [119]:
model4.fit(xa,ya)
pred4=model4.predict(xa)
confusion_matrix4=confusion_matrix(ya,pred4)
confusion_matrix4

array([[38673,     0],
       [12209,     0]], dtype=int64)

In [132]:
model5.fit(xa,ya)
pred5=model5.predict(xa)
confusion_matrix5=confusion_matrix(ya,pred5)
confusion_matrix5

array([[38673,     0],
       [    4, 12205]], dtype=int64)

In [131]:
model6.fit(xa,ya)
pred6=model6.predict(xa)
confusion_matrix6=confusion_matrix(ya,pred6)
confusion_matrix6

array([[38673,     0],
       [12209,     0]], dtype=int64)

In [130]:
ensemble.fit(xa,ya)
pred5=ensemble.predict(xa)
confusion_matrix5=confusion_matrix(ya,pred5)
confusion_matrix5

array([[38673,     0],
       [12209,     0]], dtype=int64)

In [28]:
## Importing test data
df=pd.read_csv("D:\\Hackathons\\Medical\\test_YCcRUnU.csv")
df1=df.rename(columns={"Health Indicator":"Health_Indicator"})
df1.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health_Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,C1,156,Owned,Individual,30,30,No,NaN,6.0,3.0,5,11934.0
1,50884,C4,7,Owned,Joint,69,68,Yes,X1,3.0,3.0,18,32204.8
2,50885,C1,564,Rented,Individual,28,28,No,X3,2.0,4.0,17,9240.0
3,50886,C3,1177,Rented,Individual,23,23,No,X3,3.0,3.0,18,9086.0
4,50887,C1,951,Owned,Individual,75,75,No,X3,NaN,NaN,5,22534.0

In [32]:
df1.City_Code.replace(('C1','C2','C3','C4','C5','C6','C7','C8','C9','C10',
                             'C11','C12','C13','C14','C15','C16','C17','C18','C19','C20',
                             'C21','C22','C23','C24','C25','C26','C27','C28','C29','C30',
                             'C31','C32','C33','C34','C35','C36'),(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,
                                                                  23,24,25,26,27,28,29,30,31,32,33,34,35),inplace=True)

In [35]:
df1.Accomodation_Type.replace(('Rented','Owned'),(0,1),inplace=True)

In [37]:
df1.Reco_Insurance_Type.replace(('Individual','Joint'),(0,1),inplace=True)

In [39]:
df1.Is_Spouse.replace(('Yes','No'),(0,1),inplace=True)

In [41]:
df1.Health_Indicator.replace(('X1','X2','X3','X4','X5','X6','X7','X8','X9'),(0,1,2,3,4,5,6,7,8),inplace=True)

In [43]:
df1.Holding_Policy_Duration.replace(('1.0','2.0','3.0','4.0','5.0','6.0','7.0','8.0','9.0','10.0','11.0','12.0','13.0',
                                           '14.0','14+'),(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14),inplace=True)

In [45]:
df1.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health_Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,0,156,1,0,30,30,1,NaN,5.0,3.0,5,11934.0
1,50884,3,7,1,1,69,68,0,0.0,2.0,3.0,18,32204.8
2,50885,0,564,0,0,28,28,1,2.0,1.0,4.0,17,9240.0
3,50886,2,1177,0,0,23,23,1,2.0,2.0,3.0,18,9086.0
4,50887,0,951,1,0,75,75,1,2.0,NaN,NaN,5,22534.0

In [46]:
## Dropping the columns which just indicating the index

df2=df1.drop(['ID'],axis=1)
df3=df2.drop(['Region_Code'],axis=1)

In [50]:
## Imputaion of NAN values by using sklearn.impute
from sklearn.impute import SimpleImputer
my_imputer=SimpleImputer()
df4=my_imputer.fit_transform(df3)

## Splitting data into dependent and independent variables of dataframe data4

#y_1=df4[:,11]
x_1=df4[:,:]

In [48]:
df5=pd.DataFrame(df4)
df5.head()

    0    1    2     3     4    5         6         7         8     9        10
0  0.0  1.0  0.0  30.0  30.0  1.0  1.425378  5.000000  3.000000   5.0  11934.0
1  3.0  1.0  1.0  69.0  68.0  0.0  0.000000  2.000000  3.000000  18.0  32204.8
2  0.0  0.0  0.0  28.0  28.0  1.0  2.000000  1.000000  4.000000  17.0   9240.0
3  2.0  0.0  0.0  23.0  23.0  1.0  2.000000  2.000000  3.000000  18.0   9086.0
4  0.0  1.0  0.0  75.0  75.0  1.0  2.000000  5.193834  2.440085   5.0  22534.0

In [58]:
## Splitting data into dependent and independent variables of dataframe data3
x_a=df5.iloc[:,:]
#ya=data5.iloc[:,11]

In [133]:
model1.fit(xa,ya)

result=model5.predict(x_a)
Result=pd.DataFrame(result)
Result.head()

     0
0  1.0
1  1.0
2  0.0
3  0.0
4  0.0

In [134]:
Result.columns=['Response']
#Result.groupby('Response').count()
Result.head()

   Response
0       1.0
1       1.0
2       0.0
3       0.0
4       0.0

In [135]:
submission=pd.read_csv("D:\\Hackathons\\Medical\\sample_submission_QrCyCoT.csv")
submission.head()

      ID  Response
0  50883         0
1  50884         0
2  50885         0
3  50886         0
4  50887         0

In [136]:
c1=Result.iloc[:,0]
c2=submission.iloc[:,0]

In [137]:
data=[submission["ID"],Result["Response"]]
headers=["ID","Response"]
Final_Submission=pd.concat(data,axis=1,keys=headers)

In [138]:
Final_Submission.groupby('Response').count()

             ID
Response
0.0       16113
1.0        5692

In [139]:
Final_Submission.to_csv(r'D:\DATA_science\Submission_model5_c5.0.csv',index=False)